* {
	box-sizing: border-box;
	outline: none;
}

body {
	font-size: 24px;
}

.container {
	width: 1060px;
	margin: 0 auto;
	text-align: center;
}

/* Section search people */
.section-search-people {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	width: 100vw;
	height: 100vh;
}

input {
	display: inline-block;

	width: 280px;

	font-family: "Roboto", sans-serif;
	background: #e9eff6;
	border-width: 0;
	border-radius: 1em;

	padding: 20px 10px;
	margin-bottom: 10px;
}

.input-title {
	margin-bottom: 20px;
}

.input-wrapper + .input-wrapper {
	margin-top: 40px;
}

button {
	display: inline-block;

	position: relative;
	overflow: hidden;

	color: #fe6637;
	font-family: "Montserrat", sans-serif;

	background-color: #fff;
	border: 2px solid #fe6637;
	border-radius: 1em;

	transition: 0.2s ease-in-out;

	padding: 10px 30px;
	margin: 10px 20px;
}
button:before {
	content: "";
	position: absolute;
	top: -8px;
	left: -75px;

	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0.1),
		rgba(255, 255, 255, 0.5)
	);

	height: 50px;
	width: 50px;

	transform: skewX(-45deg);
}
button:hover {
	background: #fe6637;
	color: #fff;
}
button:hover:before {
	left: 150px;
	transition: 0.5s ease-in-out;
}

#userOutput {
	position: absolute;
	bottom: 60px;
	right: auto;
}
